[Unit]
Description=The cloudquery Daemon
After=network.service syslog.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/sysconfig/cloudqueryd
ExecStartPre=/bin/sh -c "if [ ! -f $FLAG_FILE ]; then touch $FLAG_FILE; fi"
ExecStartPre=/bin/sh -c "if [ -f $LOCAL_PIDFILE ]; then mv $LOCAL_PIDFILE $PIDFILE; fi"
ExecStart=/usr/bin/cloudqueryd \
  --flagfile $FLAG_FILE \
  --config_path $CONFIG_FILE
Restart=always
RestartSec=60
StartLimitIntervalSec=300
StartLimitBurst=10
KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
